* {
    box-sizing: border-box;
    text-decoration: none;
    background-color: #090F1D;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.logo {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    margin-left: 50px;
    position: relative;
    left: 65px;
    top: 33px;
    margin-top: 30px;
}

.title {
    color: var(--White-Main-white, #FFF);
    font-family: Canela;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    position: relative;
    left: 100px;
    line-height: 120%;
    margin-left: 10px;
    margin-top: -38px;
}

span {
    color: var(--Primary, #D3F85A);
    font-family: Canela;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: flex;
    height: 48px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--Background-background-1, #090F1D);
    font-family: Inter;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    border-radius: 8px;
    background: var(--Primary, #D3F85A);
    margin-right: 100px;
    margin-top: 30px;
}

.links .mark {
    color: var(--White-Main-white, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.links a {
    color: var(--White-Dissable1, rgba(255, 255, 253, 0.72));
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    line-height: 160%;
    text-align: center;
    margin: 25px;
    position: relative;
    top: 30px;
}





button,
.links a {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
}

menu {
    display: flex;
    justify-content: space-between;
}

.rasm1 {
    width: 575px;
    height: 637px;
    flex-shrink: 0;
    margin-top: 110px;
    margin-right: 50px;
}

.and {
    color: var(--White-white-stich, #FFFFFD);
    font-family: Canela;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-top: 150px;
}

.art {
    color: var(--Primary, #D3F85A);
    font-family: Canela;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.get {
    color: var(--White-white-stich, #FFFFFD);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    align-self: stretch;
    font-weight: 400;
    line-height: 160%;
}

.btn1 {
    display: flex;
    height: 52px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: var(--Background-background-1, #090F1D);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
    line-height: 120%;
    background: var(--Primary, #D3F85A);
    margin-left: -1px;
    margin-top: 50px;
}

.learn {
    align-self: stretch;
    color: var(--White-white-stich, #FFFFFD);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
    position: relative;
    left: 220px;
    top: -173px;
}

.rasm2 {
    margin-left: -85px;
    margin-top: 50px;
}

.rasm3 {
    margin-left: 50px;
}

.rasm4 {
    margin-left: 50px;
}



.next-menu span {
    color: var(--Primary, #D3F85A);
    font-family: Canela;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.super {
    color: var(--White-white-stich, #FFFFFD);
    font-family: Canela;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-top: 200px;
    margin-left: 40px;
}

.btn2 {
    display: flex;
    height: 52px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    background: var(--Primary, #D3F85A);
    color: var(--Background-background-1, #090F1D);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-left: 1210px;
    margin-top: -90px;
    cursor: pointer;
    line-height: 120%;
}

.next-menu img {
    margin: 30px;
    margin-top: 50px;
}

.btn3 {
    display: flex;
    height: 48px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Primary, #D3F85A);
    color: var(--Primary, #D3F85A);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    width: 167px;
    line-height: 120%;
    position: relative;
    left: 243px;
    top: -111px;
    cursor: pointer;
}

.btn4 {
    display: flex;
    height: 48px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Primary, #D3F85A);
    color: var(--Primary, #D3F85A);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    width: 167px;
    line-height: 120%;
    position: relative;
    left: 716px;
    top: -170px;
    cursor: pointer;
}

.btn5 {
    display: flex;
    height: 48px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Primary, #D3F85A);
    color: var(--Primary, #D3F85A);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    width: 167px;
    line-height: 120%;
    position: relative;
    left: 1190.5px;
    top: -228px;
    cursor: pointer;
}

.section1 {
    display: flex;
    justify-content: space-between;
}

.title1 {
    color: var(--White-white-stich, #FFFFFD);
    align-self: stretch;
    font-family: Canela;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-left: 30px;
}

.text1 span {
    color: var(--Primary, #D3F85A);
    font-family: Canela;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.get1 {
    color: var(--White-white-stich, #FFFFFD);
    align-self: stretch;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 30px;
    line-height: 160%;
}

.btn6 {
    display: flex;
    height: 52px;
    margin-left: 30px;
    margin-top: 50px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--Primary, #D3F85A);
    color: var(--Background-background-1, #090F1D);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.learn1 {
    color: var(--White-white-stich, #FFFFFD);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-left: 250px;
    position: relative;
    top: -47px;
}

.img77 {
    position: relative;
    right: 500px;
    left: 20px;
    bottom: -100px;
    width: 410px;

    height: 400px;
    flex-shrink: 0;
    border-radius: 24px;
    background: url(<path-to-image>), lightgray 0px -16.951px / 100% 125.44% no-repeat;
}

.img88 {
    position: relative;
    right: 50px;
    width: 410px;
    height: 475px;
    flex-shrink: 0;
    border-radius: 24px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.section2 {
    display: flex;
    justify-content: space-between;
}

.pop {
    color: var(--White-white-stich, #FFFFFD);
    font-family: Canela;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    margin-top: 350px;
    line-height: 120%;
    margin-left: 30px;
}

.section2 span {
    color: var(--Primary, #D3F85A);
    font-family: Canela;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.btn7 {
    display: flex;
    height: 52px;
    padding: 12px 40px;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    background: var(--Primary, #D3F85A);
    color: var(--Background-background-1, #090F1D);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-top: 400px;
    margin-right: 60px;
    line-height: 120%;
}

.rasm10 {
    position: relative;
    bottom: 300px;
    left: 30px;
}

.rasm11 {
    position: relative;
    bottom: 300px;
    left: 60px;
}

.rasm12 {
    position: relative;
    top: 42px;
    left: 90px;
}

.rasm13 {
    position: relative;
    left: 30px;
    bottom: 270px;
}

.rasm14 {
    position: relative;
    left: 60px;
    bottom: 270px;
}

.section3 {
    display: flex;
    justify-content: space-between;
}

.rasm15 {
    margin-left: 30px;
    margin-top: -20px;
}

.sub {
    color: var(--White-white-stich, #FFFFFD);
    font-family: Canela;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    margin-right: 200px;
    line-height: 120%;
    align-self: stretch;
}

.section3 span {
    color: var(--Primary, #D3F85A);
    font-family: Canela;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.we {
    color: var(--White-white-stich, #FFFFFD);
    align-self: stretch;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.section3 input {
    display: flex;
    width: 516px;
    height: 60px;
    border: 0px solid;
    padding: 16px 24px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Background-background4, #131E3A);
    color: var(--White-Dissable1, rgba(255, 255, 253, 0.72));
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.btn8 {
    display: inline-flex;
    height: 52px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Primary, #D3F85A);
    color: var(--Background-background-1, #090F1D);
    position: relative;
    right: -354px;
    bottom: 65px;
    cursor: pointer;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.logo3 {
    margin-left: 100px;
    margin-top: 250px;
}

.creative {
    margin-left: 150px;
    margin-top: -37px;
    color: var(--White-white-stich, #FFFFFD);
    font-family: Canela;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.get3 {
    color: var(--White-white-stich, #FFFFFD);
    align-self: stretch;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    margin-left: 100px;
    font-weight: 400;
    line-height: 160%;
}

.rasm16 {
    position: relative;
    left: 100px;
}

.rasm17 {
    position: relative;
    left: 105px;
}

.rasm18 {
    position: relative;
    left: 110px;
}

.rasm19 {
    position: relative;
    left: 115px;
}

.prosta {
    position: relative;
    left: 650px;
    bottom: 180px;
}

.prosta h1 {
    color: var(--White-Main-white, #FFF);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.prosta a {
    color: var(--White-white-stich, #FFFFFD);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.statistic {
    position: relative;
    left: 200px;
    bottom: 170px;
}

.company {
    position: relative;
    left: 380px;
    bottom: 315px;
}

.resources {
    position: relative;
    left: 600px;
    bottom: 485px;
}

.copy {
    width: 242px;
    flex-shrink: 0;
    color: var(--White-white-stich, #FFFFFD);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    position: relative;
    bottom: 500px;
    left: 90px;
    font-weight: 400;
    line-height: 160%;
}

.privacy {
    color: var(--White-white-stich, #FFFFFD);
    text-align: center;
    position: relative;
    left: 1030px;
    bottom: 525px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.terms {
    color: var(--White-white-stich, #FFFFFD);
    text-align: center;
    font-family: Inter;
    position: relative;
    left: 1130px;
    bottom: 525px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

hr {
    position: relative;
    right: 650px;
    background-color: rgb(71, 71, 71);
    bottom: 400px;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    background-color: #090F1D;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    margin-left: 5%;
    margin-top: 3%;
}

.title {
    color: var(--White-Main-white, #FFF);
    font-family: Canela;
    font-size: 2em;
    font-weight: 500;
    line-height: 120%;
    margin-left: 10%;
    margin-top: -3%;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn {
    display: flex;
    height: 48px;
    padding: 12px 5%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--Background-background-1, #090F1D);
    font-family: Inter;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    line-height: 120%;
    border-radius: 8px;
    background: var(--Primary, #D3F85A);
    margin-right: 5%;
    margin-top: 3%;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.links .mark,
.links a {
    color: var(--White-Dissable1, rgba(255, 255, 253, 0.72));
    font-family: Inter;
    font-size: 1em;
    font-weight: 400;
    line-height: 160%;
    text-align: center;
    margin: 0.5em;
    position: relative;
    top: 1.5em;
}

@media (max-width: 1024px) {
    .links {
        position: relative;
        left: 6%;
    }

    .rasm4 {
        position: relative;
        left: 300px;
        top: -97px;
    }

    .super {
        position: relative;

    }

    .btn2 {
        position: relative;
        left: -400px;
    }

    .img77 {
        position: relative;
        left: 250px;
    }

    .img88 {
        position: relative;
        left: 0px;
        top: -50px;
    }

    .btn6 {
        width: 100px;
    }

    .learn1 {
        position: relative;
        left: -90px;
    }

    .pop {
        position: relative;
        top: -300px;
    }

    .btn7 {
        position: relative;
        top: -300px;
        left: -60px;
    }

    .rasm12 {
        position: relative;
        top: -250px;
        left: 30px;
    }

    .rasm13 {
        position: relative;
        top: -590px;
        left: 60px;
    }

    .rasm14 {
        position: relative;
        left: 480px;
        top: -570px;
    }

    .rasm15 {
        position: relative;
        top: -300px;
        left: 170px;
    }

    .sub {
        position: relative;
        left: -600px;
        top: 150px;
    }

    .we {
        position: relative;
        left: -250px;
        top: -100px;
    }

    input {
        position: relative;
        left: -250px;
        top: -10px;
    }

    .btn8 {
        position: relative;
        left: 108px;
        top: -75px;
    }

    .logo3 {
        position: relative;
        left: -40px;
    }

    .creative {
        position: relative;
        left: -45px;
    }

    .get3 {
        position: relative;
        left: -40px;
    }

    .img1188 {
        position: relative;
        left: -40px;
    }

    .explore {
        position: relative;
        left: -300px;
    }

    .statistic {
        position: relative;
        left: -150px;
    }

    .company {
        position: relative;
        left: -10px;
    }

    .resources {
        position: relative;
        left: 140px;
    }

    .copy {
        position: relative;
        left: 50px;
    }

    .privacy {
        position: relative;
        left: 500px;
        bottom: 533px;
    }

    .terms {
        position: relative;
        left: 700px;
        bottom: 533px;
    }
}

@media (max-width: 769px) {
    .logo {
        position: relative;
        left: 10px;
    }

    .title {
        position: relative;
        left: 33px;
    }

    .links {
        position: relative;
        left: -50px;
        margin: 0;
    }

    .art {
        position: relative;
        left: -20px;
    }

    .com {
        position: relative;
        left: -40px;
    }

    .col {
        position: relative;
        left: -60px;
    }

    .btn {
        position: relative;
        left: 650px;
        top: -80px;
        width: 60px;
    }

    .and {
        font-size: 30px;
    }

    .rasm3 {
        position: relative;
        left: 120px;
        top: -95px;
    }

    .rasm4 {
        position: relative;
        left: 270px;
        top: -195px;
    }

    .btn2 {
        position: relative;
        left: -600px;
    }

    .cr6 {
        position: relative;
        left: -10px;
    }

    .cr7 {
        position: relative;
        left: 500px;
        top: -330px;
    }

    .title1 {
        font-style: 25px;
        position: relative;
        left: -10px;
    }

    .img77 {
        width: 200px;
        height: 200px;
        position: relative;
        left: 150px;
        top: 40px;
    }

    .img88 {
        width: 200px;
        height: 200px;
    }

    .rasm13 {
        position: relative;
        left: 350px;
        top: -1590px;
    }

    .rasm11 {
        position: relative;
        left: 130px;

    }
}

.menu-bar {
    display: none;
}

@media (max-width: 426px) {
    .menu-bar {
        display: block;
        width: 24px;
        height: 17.333px;
        flex-shrink: 0;
        position: relative;
        left: 200px;
        top: 50px;
    }

    .links {
        display: none;
    }

    .btn {
        display: none;
    }

    .rasm1 {
        display: flex;
        position: relative;
        top: 550px;
        left: -220px;
    }

    .and{
        display: inline;
        position: relative;
        left: 200px;
        top: 40px;
        font-weight: 500;
        font-size: 50px;
    
    }
    .get{
        display: flex;
        text-align: center;
        position: relative;
        left: 70%;
        top: 50px;
    
    }
    .btn1{
   position: relative;
   top: 50px;
   left: 120px;
   height: 48px;
   justify-content: center;
   align-items: center;
    }
    .learn{
        position: relative;
        left: 350px;
        top: -120px;

    }
    .rasm2{
        position: relative;
        top: 679px;
        left: 60px;
    }
    .rasm3{
        position: relative;
        top: 583px;
        left: 200px;
    }
    .rasm4{
        position: relative;
        top: 490px;
        left: 400px;
    }
    .super{
        position: relative;
        top: 350px;
        text-align: center;
        left: 100px;
    }
    .btn2{
        display: none;
    }
    .cr5{
        position: relative;
        top: 300px;
        left: -25px;
    }
    .cr6{
        position: relative;
        left: 200px;
        top: -28px;
    }
     .cr7{
        position: relative;
        left: 420px;
        top: -355px;
     }
     .title1{
        display: flex;
        position: relative;
        top: -350px;
        left: 170px;
     }
     .get1{
        position: relative;
        top: -350px;
        left: 170px;
        text-align: center;
     }
     .img77{
        position: relative;
        left: -120px;
     }
     .btn6{
        position: relative;
        left: 150px;
     }
     .learn1{
        position: relative;
        left: 100px;
     }
     .pop{
        position: relative;
        text-align: center;
        align-items: center;
        left: 220px;
     }
     .rasm10{
        position: relative;
        left: -10px;
     }
     .rasm11{
        position: relative;
        left: 70px;
     }
     .rasm13{
        position: relative;
        left: 300px;
        bottom: -20px;
        width: 420px;
     }
     .rasm12{
        position: relative;
        left: 130px;
     }
     .rasm14{
        position: relative;
        left: 130px;
     }
     .btn7{
        position: relative;
        top: 1600px;
        left: 50px;
     }
     .rasm15{
        position: relative;
        left: -15px;
        top: -400px;
     }
     .sub{
        position: relative;
        left: -650px;
        font-size: 30px;
     }
     .text span{
        font-size: 30px;
     }
     .we{
        position: relative;
        top: 70px;
        left: -350px;
     }
     input{
        position: relative;
        left: -600px;
        top: 100px;
     }
     .btn8{
        position: relative;
        left: -246px;
        top: 35px;
     }
     .logo3{
        position: relative;
        left: -80px;
     }
     .creative{
        position: relative;
        left: -85px;
     }
     .get3{
        position: relative;
        left: -75px;
     }
     .img1188{
        position: relative;
        left: -75px;
     }
     .explore{
        position: relative;
        left: -365px;
     }
     .statistic{
        position: relative;
        left: -250px;
     }
     .company{
        position: relative;
        left: -150px;
     }
     .resources{
        position: relative;
        left: -50px;
     }
     .privacy{
        position: relative;
        left: 320px;
        top: -535px;
     }
     .terms{
        position: relative;
        left: 360px;
     }
    }